@import "tailwindcss";
@import "tw-animate-css";

html,
body,
#root {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: var(--color-secondary);
  overflow: auto;

  /* прибирання скролу */
  -ms-overflow-style: none;
  /* IE and Edge */
}

main {
  flex-grow: 1;
}

.container {
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}

section {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}

/* прибирання скролу */
html {
  scrollbar-width: none;
  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

.custom-scroll {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE і Edge */
  overflow: auto;
  /* або scroll */
}

.custom-scroll::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

@theme inline {
  --color-background: #2b1047;
  --color-foreground: oklch(0.141 0.005 285.823);
  --color-card: #4a1f89;
  --color-card-foreground: oklch(0.141 0.005 285.823);
  --color-popover: #2b1047;
  --color-popover-foreground: oklch(0.141 0.005 285.823);
  --color-primary: #6a2ecb;
  --color-primary-foreground: oklch(0.969 0.016 293.756);
  --color-secondary: #ecdef6;
  --color-secondary-foreground: oklch(0.21 0.006 285.885);
  --color-muted: #ecdef6;
  --color-muted-foreground: oklch(0.552 0.016 285.938);
  --color-accent: #ecdef6;
  --color-accent-foreground: oklch(0.21 0.006 285.885);
  --color-destructive: oklch(0.577 0.245 27.325);
  --color-border: oklch(0.92 0.004 286.32);
  --color-input: oklch(0.92 0.004 286.32);
  --color-ring: #6a2ecb;

  /* шрифти і розмір тексту */
  /* --text-*: initial; */
  /* --text-xs: 8px;
  --text-xs--line-height: normal;
  --text-xs--font-weight: 400;
  --text-xs--letter-spacing: -0.16px;

  --text-sm: 10px;
  --text-sm--line-height: normal;
  --text-sm--font-weight: 400;
  --text-sm--letter-spacing: -0.2px;

  --text-md: 12px;
  --text-md--line-height: normal;
  --text-md--letter-spacing: -0.24px;

  --text-base: 14px;
  --text-base--line-height: 1.28;
  --text-base--letter-spacing: -0.28px;

  --text-lg: 16px;
  --text-lg--line-height: normal;
  --text-lg--letter-spacing: -0.64px;

  --text-xl: 18px;
  --text-xl--line-height: normal;
  --text-xl--font-weight: 500;
  --text-xl--letter-spacing: -0.36px;

  --text-2xl: 28px;
  --text-2xl--line-height: normal;
  --text-2xl--font-weight: 600;
  --text-2xl--letter-spacing: -1.12px;

  --text-3xl: 40px;
  --text-3xl--line-height: normal;
  --text-3xl--font-weight: 600;
  --text-3xl--letter-spacing: -1.6px; */

  --breakpoint-*: initial;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1440px;
}

/* тінь */
.item-shadow {
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.25);
}

/* анімація */
@layer utilities {
  @keyframes fade-in-down {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-in-left {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fade-in-rigth {
    0% {
      opacity: 0;
      transform: translateX(20px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .animate-fade-in-down-03 {
    animation: fade-in-down 0.3s ease-out forwards;
  }

  .animate-fade-in-down-07 {
    animation: fade-in-down 0.7s ease-out forwards;
  }

  .animate-fade-in-down-12 {
    animation: fade-in-down 1.2s ease-out forwards;
  }

  .animate-fade-in-left-03 {
    animation: fade-in-left 0.3s ease-out forwards;
  }

  .animate-fade-in-rigth-05 {
    animation: fade-in-rigth 0.5s ease-out forwards;
  }

}

/* фон сторінки 404 */
.not-found-page {
  background-image: url("/images/not-found-page/404-d.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

@media (max-width: 1024px) {
  .not-found-page {
    background-image: url("/images/not-found-page/404-t.png");
  }
}

@media (max-width: 768px) {
  .not-found-page {
    background-image: url("/images/not-found-page/404-m.png");
  }
}